section {
    background-color: rgba(102, 7, 126, 0.486);
    color: black;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

section > h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    margin-top: 0;
}

section div {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 700px;
    margin: 0 auto 30px auto;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("istockphoto-1403514736-170667a.jpg");
}

header {
    background-color: rgba(45, 10, 58, 0.9);
    padding: 40px 20px;
    border-radius: 0 0 20px 20px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

header h1 {
    font-size: 1.8rem;
    margin: 10px 0;
}

#dados p {
    font-size: 0.9rem;
    color: #e0e0e0;
    max-width: 700px;
    line-height: 1.6;
}

#dados a {
    color: #00d4ff;

}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    font-size: 0.85rem;
    opacity: 0.8;
    display: inline-block;
    margin: 5px 10px;
}